body {
    background-color: #06283c;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 6vh;
    text-align: center;
    font-size: 30px;
    color: white;
}

.result {
    padding: 5px;
    width: 100%;
    height: 8vh;
    text-align: center;
    font-size: 24px;
    color: white;
    align-items: center;
    justify-content: center;
}

.howMany {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 16vh;
    background-color: #06283c;
    color: white;
    font-size: 16pt;
    align-items: center;
}

.group {
    display: flex;
    width: 100%;
    height: 8vh;
    margin: 20px;
    padding: 5px;
    background-color: #06283c;
    color: white;
    justify-content: center;
}

.persons10 {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: darkorange;
    color: white;
    font-size: 16pt;
}

.persons20 {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: darkorange;
    color: white;
    font-size: 16pt;
}

.personsAll {
    padding: 5px;
    margin: 5px;
    width: 15vw;
    height: 6vh;
    background-color: darkorange;
    color: white;
    font-size: 16pt;
}

.persons10:hover {
    background-color: lightsalmon;
}

.persons20:hover {
    background-color: lightsalmon;
}

.personsAll:hover {
    background-color: lightsalmon;
}

.imageBox {
    width: 100%;
    height: 30vh;
    margin: 10px;
    padding: 5px;
    background-color: #06283c;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imageBoxText {}

.imageBoxImg {
    height: 100%;
    display: none;
}

.nameList {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 5px;
    background-color: #06283c;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.nameOption {
    display: none;
    padding: 10px;
    width: 90%;
    margin: 0%;
    height: 7vh;
    font-size: larger;
    background-color: #256e84;
    color: white;
}

.nameOption:hover {
    background-color: #5ab9d9dd;
}

.correct-answer {
    background-color: green;
}

.navigation {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 5px;
    justify-content: center;
    background-color: #06283c;
    flex-direction: column;
    align-items: center;
}

.check {
    display: none;
    height: 6vh;
    width: 90%;
    margin: 0%;
    padding: 5px;
    font-size: larger;
    color: white;
    background-color: darkorange;
    align-items: center;
    justify-content: center;
}

.next {
    display: none;
    height: 6vh;
    width: 90%;
    margin: 0%;
    padding: 5px;
    font-size: larger;
    color: white;
    background-color: darkorange;
    align-items: center;
    justify-content: center;
}

.check:hover {
    background-color: lightsalmon;
}

.next:hover {
    background-color: lightsalmon;
}

.restart {
    display: none;
    width: 40vw;
    height: 6vh;
    margin: 0%;
    margin-left: 30%;
    padding: 5px;
    color: white;
    font-size: larger;
    background-color: darkorange;
    align-items: center;
    justify-content: center;
}

.restart:hover {
    background-color: lightsalmon;
}

.selectedButton {
    outline: 4px solid #82eefd;
}



/* desktop version */
@media screen and (min-width: 600px) {

    body {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .container {
        width: 100vh;
    }

    h1 {
        font-size: 40px;
    }

    .result {
        width: 62vw;
        height: 10vw;
        font-size: 32px;
    }

    .howMany {
        width: 62vw;
    }

    .group {
        width: 62vw;
    }

    .imageBox {
        width: 62vw;
    }

    .nameList {
        width: 62vw;
        height: 6vh;
        margin: 10px;
        flex-direction: row;
        align-items: center;
    }

    .nameOption {
        width: 15vw;
    }

    .navigation {
        width: 62vw;
        height: 8vh;
        margin: 10px;
        flex-direction: row;
        align-items: center;
    }

    .check {
        width: 30vw;
        margin: 5px;
    }

    .next {
        width: 30vw;
        margin: 5px;
    }

    .restart {
        width: 30vw;
        margin: 0 auto;
    }
}